@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container text-center">

    <h1>@ViewData["Title"]</h1>
    <h3>
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </h3>

</div>