@{
    ViewData["Title"] = "Contact Us";
}

<div class="team-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Team </h2>
            <p class="text-center">Email: - <a href="mailto:admin@sahilbhuva.tech">admin@sahilbhuva.tech</a></p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <img class="rounded-circle" src="~/assets/img/1.jpg">
                    <h3 class="name">Monkey D. Luffy</h3>
                    <p class="title">CEO</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <img class="rounded-circle" src="~/assets/img/2.jpg">
                    <h3 class="name">Boa Hanckok</h3>
                    <p class="title">CFO</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <img class="rounded-circle" src="~/assets/img/3.jpg">
                    <h3 class="name">Roronoa Zoa</h3>
                    <p class="title">CTO</p>
                </div>
            </div>
        </div>
    </div>
</div>