@{
    ViewData["Title"] = "Home Page";
}
<div class="features-clean">
    <div class="container" data-aos="fade" data-aos-duration="1000" data-aos-delay="250" data-aos-once="true">
        <div class="intro">
            <h2 class="text-center">Features</h2>
        </div>
        <div class="row features">
            <div class="col-sm-6 col-lg-4 item">
                <i class="fa fa-map-marker icon"></i>
                <h3 class="name">Search Millions of Jobs<br></h3>
            </div>
            <div class="col-sm-6 col-lg-4 item">
                <i class="fa fa-clock-o icon"></i>
                <h3 class="name">Easy To Manage Jobs<br></h3>
            </div>
            <div class="col-sm-6 col-lg-4 item">
                <i class="fa fa-list-alt icon"></i>
                <h3 class="name">Top Careers<br></h3>
            </div>
            <div class="col-sm-6 col-lg-4 item">
                <i class="fa fa-leaf icon"></i>
                <h3 class="name">Search Expert Candidates<br></h3>
            </div>
        </div>
    </div>
</div>