@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center highlight-blue" id="About" style="height: 500px;background-color: rgba(255,255,255,0.9);">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="color: #172f76;">Privacy Policy</h2>
            <hr style="height: 2px;color: #214a80;background-color: #172f76;">
            <p class="text-center" style="color: #172f76;font-family: Muli, sans-serif;">We respect your privacy. On the Job Portal, By submitting your application you submit your details such as email, contact no. etc. You accept the terms and condition of the use of job portal.
                In case of any complaint kindly mail to <a href="mailto:admin@sahilbhuva.tech">this</a></p>
        </div>
    </div>
</div>